* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor-body: #171717;
    --cor-orange: #FB583D;
}

html, body {
    background-color: var(--cor-body);
    height: 100vh;       /* garante 100% da altura da janela */
}

.container {
    display: flex;       /* Display Flex */
}

.container .item {
    background-color: var(--cor-orange);
    text-align: center;
    width: 300px;
}